form.citynexus-form {
  .form-error {
    color: red;
    margin: 0;
  }

  .form-group {
    display: flex;
    padding: 0 0 10px 0;
    align-items: center;

    .form-label {
      width: 30%;
    }

    .form-control {
      flex-grow: 1;

      input {
        width: 100%;
        line-height: 1.8em;
        padding: 0 5px;
        border: 1px solid #29323C;
        border-radius: 3px;

        &[type="radio"], &[type="checkbox"] {
          width: auto;
          margin: 0 5px 0 0;
        }
      }

      .form-check {
        display: flex;
        align-items: center;
      }
    }

    .form-actions {
      flex-grow: 1;
      display: flex;
      margin: 10px -5px 0 -5px;

      [type="submit"], [type="reset"], [type="button"], button {
        border: 0;
        width: 50%;
        flex-grow: 1;
        background: #0F9668;
        color: white;
        padding: 9px 12px;
        line-height: 14px;
        margin: 0 5px;
        cursor: pointer;
      }

      [type="reset"] {
        background: #6A7485;
      }

      [disabled] {
        background: silver;
        cursor: not-allowed;
      }
    }
  }
}
