#footer-container {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  max-height: var(--header-height);
  margin: 0;
  padding: 0;
  background-color: var(--desp-background-color);
  color: var(--desp-font-color);
  font-family: Roboto-Bold, sans-serif;
  font-size: var(--desp-font-size);
  border-top: solid 2px var(--desp-violet-color);
  z-index: 9999;
}
#footer-inner-container {
  max-width: 1600px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 var(--header-padding);
  padding: 0;
}

#footer-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#footer-desp-logo {
  display: block;
  max-width: var(--header-logo-width);
  max-height: var(--header-logo-height);
  width: var(--header-logo-width);
  height: var(--header-logo-height);
}

#footer-central-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  max-width: var(--footer-logo-width);
  max-height: var(--footer-logo-height);
  width: auto;
  height: auto;
}

#footer-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#footer-menu-icon {
  width: var(--header-logo-height);
  height: var(--header-logo-height);
  transition: color 250ms ease-in-out;
}
#footer-menu-icon:hover {
  color: var(--desp-hover-color);
}
#footer-menu {
  position: absolute;
  display: none;
  right: 0;
  bottom: var(--footer-height);
  width: 240px;
  background-color: var(--desp-frame-background-color);
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0px;
  font-size: var(--desp-frame-font-size);
}
#footer-menu hr {
  color: var(--desp-darkgrey-color);
  margin: 0 3px;
}
.footer-frame-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}
.footer-frame-link:hover {
  background-color: var(--desp-frame-hover-color);
}
.mobile-footer-logo {
  max-width: var(--footer-logo-width);
  max-height: var(--footer-logo-height);
  width: auto;
  height: auto;
}
.mobile-link {
  display: block;
}


/* Responsiveness */
@media only screen and (max-width: 1024px) {
  #footer-central-container{
      display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .mobile-link {
    display: none;
  }
}