.citynexus-modelling-actions {
  font-family: ff-clan-web-pro,'Helvetica Neue',Helvetica,sans-serif;
  position: absolute;
  right: 70px;
  top: 12px;
  z-index: 1;
  display: flex;

  svg {
    margin: 0 8px 0 0;
  }

  button {
    align-items: center;
    background-color: #0F9668;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    line-height: 14px;
    outline: 0;
    padding: 9px 12px;
    text-align: center;
    transition: all .4s ease;
    margin: 0 5px;
  }

  button:disabled {
    background-color: #808080;
    cursor: default;
  }
}
