.visualization-actions {
  button {
    align-items: center;
    background-color: #0F9668;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    justify-content: center;
    padding: 9px 12px;
    text-align: center;
    transition: all .4s ease;
    margin-bottom: 1rem;
    width: 16rem;
  }

  button:disabled {
    background-color: #808080;
    cursor: not-allowed;
  }
}